<div class="chat-container">
  <div *ngFor="let date of dates" class="day-group">
    <div>
      <span class="date-header">{{ formatDate(date) }}</span>
    </div>
    <div *ngFor="let senderGroup of senderGroupsFor(date)" class="sender-group">
      <ul class="messages-list">
        <li
          class="message-box"
          *ngFor="
            let message of senderGroup.messages;
            let i = index;
            let isFirst = first;
            let isLast = last
          "
          [ngClass]="{
            'first-message': isFirst && message.type === 'text',
            'middle-message':
              !isFirst &&
              !shouldApplyLastMessage(senderGroup.messages, i) &&
              message.type === 'text',
            'last-message':
              shouldApplyLastMessage(senderGroup.messages, i) &&
              message.type === 'text',
            'single-emoji': isSingleEmoji(message.content),
            'poll-message': message.type === 'poll',
            decorated: message.isDecorated,
          }"
          [attr.data-message-id]="getMessageId(message, i, date)"
          (click)="
            message.isDecorated && toggleOverlay(getMessageId(message, i, date))
          "
        >
          <app-message
            *ngIf="message.type === 'text'"
            [content]="message.content"
            [sender]="message.sender"
            [isOwnMessage]="message.isOwnMessage"
            [createdAt]="message.createdAt"
            [singleEmoji]="isSingleEmoji(message.content)"
          />

          <app-poll-message
            *ngIf="message.type === 'poll'"
            [content]="message.content"
            [reason]="message.reason"
            [description]="message.description"
            [options]="message.options"
            [consequence]="message.consequence"
            [sender]="message.sender"
            [isOwnMessage]="message.isOwnMessage"
            [createdAt]="message.createdAt"
            class="poll-container"
          />
        </li>
      </ul>
    </div>
  </div>
</div>
