.message {
  background-color: var(--gray);
  border-radius: var(--radius-xl);
  border-bottom-left-radius: 0;
  padding: 0.2rem 1rem;
  width: fit-content;
  font-weight: 500;
  color: var(--text-color);
  font-size: var(--font-size-normal);
}

.message.single-emoji {
  background: none !important;
}

.message.own {
  background-color: hsl(var(--yellow-hue), 100%, 75%);
  border-bottom-left-radius: var(--radius-xl);
  border-bottom-right-radius: 0;
}

.timestamp {
  font-size: 0.75rem;
  color: var(--gray-dark);
}

.message-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.message-container.own {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.message:has(.timestamp) {
  display: none;
}

:has(> .message.own) {
  text-align: right;
  margin-left: auto;
  width: fit-content;
}

.message-info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.2rem;
}
.status-emoji {
  font-size: 14px;
  margin-left: 6px;
}
.status-icon {
  width: 14px;
  height: 14px;
}
